/* ----------------------------------------------- 共通 */
html,
body {
  overflow-x: hidden;
}

body {
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 0;
}

p {
  line-height: 2.0em;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}

/* ----------------------------------------------- ナビゲーションバー */
.navbar_brand_logo {
  /* サイズを32pxの正方形へ変更 */
  width: 32px;
  height: 32px;

  /* imgはインライン要素なのでインラインブロックに設定 */
  display: inline-block;

  /* "SAMURAI KITCHEN" 文字との空白を15pxに設定 */
  margin-right: 15px;
}

.my_navbar_brand,
.my_nav_link {
  /* フォントサイズを16pxに設定 */
  font-size: 16px;

  /* フォントをserif体に設定 */
  font-family: 'Lora', serif;

  /* フォント色を黒色に設定 */
  color: #000 !important;
}

/* Bootstrapのボタンに初期設定されている周囲のborderを消す */
.navbar-toggler {
  padding: 0 !important;
  border: none;
}

/* ハンバーガーボタンがチェック状態である（押されている）とき、閉じるボタン（×）を表示する */
#hamburger_btn_check:checked~.hamburger_btn .btn_close {
  display: block;
}

/* ハンバーガーボタンがチェック状態である（押されている）とき、ハンバーガーボタンを表示しない */
#hamburger_btn_check:checked~.hamburger_btn .btn_open {
  display: none;
}

/* 最初に表示したときは、閉じるボタン（×）は表示しない */
.btn_close {
  display: none;
}

/* ハンバーガーボタンが押されているかを判断するためのチェックボックスは隠す */
#hamburger_btn_check {
  display: none;
}


/* ----------------------------------------------- カールセル */
.my_carousel_caption {
  font-size: 52px;
  padding: 1.25rem 0;
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 1.5em;
}

.my_carousel_caption::before {
  content: url(../img/logoSymbol_White.png);
  display: block;
}

/* スマートフォン画面幅（画面幅が最大375px）までの場合、以下のスタイルを適用。 */
@media screen and (max-width:375px) {
  .my_carousel_caption {

    /* フォントサイズを27pxにする */
    font-size: 27px;
  }
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* ----------------------------------------------- アバウト */
.section_title {
  font-size: 36px;
  font-weight: 600;
}

/* aboutクラスの後に"私たちについて"の文字を追加 */
.about::after {
  content: "私たちについて";
}

.section_title::after {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0 16px;
  width: 100px;
  border-bottom: 1px solid #000;
}

.about_us_bg {
  background-color: #ffe6a5;
}

/* ----------------------------------------------- ギャラリー */
.gallery::after {
  content: "ギャラリー";
  margin: 0 auto;
}

/* ----------------------------------------------- メニュー */
.menu::after {
  content: "メニュー";
  margin: 0 auto;
}

.menu_title {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

.menu_price {
  font-size: 20px;
  font-weight: 400p;
  font-family: 'Lora', serif;
}

/* ----------------------------------------------- レビュー */
/* 背景画像を設置 */
.review_wrapper {
  background-image: url(../img/background-reviews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* サブタイトルを疑似要素で表示 */
.review::after {
  content: "お客様の声";
  margin: 0 auto 0;
  border-bottom: 1px solid #fff;
}

/* 白い背景色の高さを固定 */
.h_420 {
  height: 420px;
  position: relative;
}

/* レビューの画像を修正 */
.reviewer_img {
  /* サイズを48px */
  width: 48px;
  height: 48px;
  /* 円形にする */
  border-radius: 50%;
  margin-right: 16px;
}

/* 星のアイコン画像 */
.star_img {
  width: 25px;
  height: 25px;
}

/* 詳細ボタンを株に固定 */
.fix_bottom {
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: 80px;
  height: 40px;
}

/* ----------------------------------------------- アクセス */
.access::after {
  content: "アクセス";
  margin: 0 auto;
}

/* ----------------------------------------------- フッター */
/* 背景色を画像の背景と同じ色に設定 */
#footer {
  background-color: #fafafa;
}

/* position:absoluteで下からの距離の固定 */
.copy_right {
  font-size: 14px;
  position: absolute;
  bottom: 1rem;
  left: 12px;
  display: flex;
}

/* copy_rightのクラスを適用したdivタグの子要素のpタグに適用 */
.copy_right>p {
  margin-right: 5rem;
  margin-bottom: 0;
}

/* copy_rightのクラスを適用したdivタグの子要素で、sns_imgクラスを適用しているimgタグに適用 */
.copy_right>img.sns_img {
  /* SNSアイコンのサイズ24px */
  height: 24px;
  width: 24px;
  /* 右方向へ余白10px */
  margin-right: 10px;
  margin-top: 0;
}

/* restaurant_info直下の子要素pタグ全てに適用 */
.restaurant_info p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

/* restaurant_info直下の子要素imgタグ全てに適用 */
.restaurant_info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  line-height: 1.5;
  margin-top: auto;
}

/* サイトアイコンを64pxに設定 */
.footer_brand_logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  /* 右に余白15px */
  margin-right: 15px;
}

/* サイトタイトルのフォントをserif隊（明朝体）に設定 */
.footer_text {
  font-size: 24px;
  font-family: 'Lora', serif;
  text-decoration: center;
}

/* スマートフォン画面幅（最大991pxまで）スタイルを適用 */
@media screen and (max-width: 991px) {
  .footer_text,
  .copy_right {
    margin-top: 2rem;
    text-align: center;
    position: relative;
  }

  .copy_right>p,img {
    margin-right: 1rem;
    font-size: 14px;
    margin: 0;
    line-height: 35px;
  }
}